@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@*<h2>@ViewData["Title"]</h2>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>*@

<div class="row">
    <div class="col s12">
        <div class="card-panel orange lighten-1 margin-bottom-50px margin-top-50px">
            <span class="white-text">
                Sua senha foi alterada. Por favor
                <a asp-area="Identity" asp-page="/Account/Login">Clique aqui para Logar</a>.
            </span>
        </div>
    </div>
</div>